### Adventure Works data files

In [2]:
# Librerias
import pandas as pd
import os
import sqlalchemy as sql
import time

In [5]:
server = 'ASUSTUF\SQL22'; database = 'AdventureWorks2019'
try:
    engine = sql.create_engine(f"mssql+pyodbc://{server}/{database}?trusted_connection=yes&driver=ODBC+Driver+17+for+SQL+Server")
    print('Conexión exitosa')
except sql.Error as e:
    print(f'Error al conectar a la base de datos: {str(e)}')

current_time = time.strftime("%H:%M:%S", time.localtime())
print(current_time)

Conexión exitosa
17:31:26

In [6]:
df = pd.read_sql('SELECT * FROM SALES.Customer', engine)
df.head()

,CustomerID,PersonID,StoreID,TerritoryID,AccountNumber,rowguid,ModifiedDate
0,1,NaN,934.0,1,AW00000001,3F5AE95E-B87D-4AED-95B4-C3797AFCB74F,2014-09-12 11:15:07.263
1,2,NaN,1028.0,1,AW00000002,E552F657-A9AF-4A7D-A645-C429D6E02491,2014-09-12 11:15:07.263
2,3,NaN,642.0,4,AW00000003,130774B1-DB21-4EF3-98C8-C104BCD6ED6D,2014-09-12 11:15:07.263
3,4,NaN,932.0,4,AW00000004,FF862851-1DAA-4044-BE7C-3E85583C054D,2014-09-12 11:15:07.263
4,5,NaN,1026.0,4,AW00000005,83905BDC-6F5E-4F71-B162-C98DA069F38A,2014-09-12 11:15:07.263

In [7]:
df.columns

Index(['CustomerID', 'PersonID', 'StoreID', 'TerritoryID', 'AccountNumber',
       'rowguid', 'ModifiedDate'],
      dtype='object')