### Adventure Works data files

In [1]:
# Librerias
import pandas as pd
import os
import sqlalchemy as sql
import time

In [2]:
server = 'ASUSTUF\SQL22'; database = 'AdventureWorks2019'
try:
    engine = sql.create_engine(f"mssql+pyodbc://{server}/{database}?trusted_connection=yes&driver=ODBC+Driver+17+for+SQL+Server")
    print('Conexión exitosa')
except sql.Error as e:
    print(f'Error al conectar a la base de datos: {str(e)}')

current_time = time.strftime("%H:%M:%S", time.localtime())
print(current_time)

Conexión exitosa
21:50:54

In [3]:
SalesCustomer = pd.read_sql('SELECT * FROM sales.vIndividualCustomer', engine)
print( f"Filas, Col: {SalesCustomer.shape}")
SalesCustomer.head()

Filas, Col: (18508, 18)

,BusinessEntityID,Title,FirstName,MiddleName,LastName,Suffix,PhoneNumber,PhoneNumberType,EmailAddress,EmailPromotion,AddressType,AddressLine1,AddressLine2,City,StateProvinceName,PostalCode,CountryRegionName,Demographics
0,1699,Mr.,David,R.,Robinett,None,238-555-0100,Home,david22@adventure-works.com,1,Home,Pappelallee 6667,None,Solingen,Nordrhein-Westfalen,42651,Germany,"<IndividualSurvey xmlns=""http://schemas.micros..."
1,1700,Ms.,Rebecca,A.,Robinson,None,648-555-0100,Cell,rebecca3@adventure-works.com,0,Home,1861 Chinquapin Ct,None,Seaford,Victoria,3198,Australia,"<IndividualSurvey xmlns=""http://schemas.micros..."
2,1701,Ms.,Dorothy,B.,Robinson,None,423-555-0100,Cell,dorothy3@adventure-works.com,2,Home,4693 Mills Dr.,None,Geelong,Victoria,3220,Australia,"<IndividualSurvey xmlns=""http://schemas.micros..."
3,1702,Ms.,Carol Ann,F.,Rockne,None,439-555-0100,Cell,carolann0@adventure-works.com,0,Home,1312 Skycrest Drive,None,Lancaster,England,LA1 1LN,United Kingdom,"<IndividualSurvey xmlns=""http://schemas.micros..."
4,1703,Mr.,Scott,M.,Rodgers,None,989-555-0100,Cell,scott10@adventure-works.com,0,Home,9860 Brookview Drive,None,East Brisbane,Queensland,4169,Australia,"<IndividualSurvey xmlns=""http://schemas.micros..."

In [4]:
SalesCustomer.to_excel(r'SalesCustomer.xlsx', index=False)

In [6]:
# SalesInvoices = pd.read_sql(f'SELECT H.OrderDate, H.SalesOrderNumber, H.CustomerID, H.TotalDue, d.OrderQty, D.ProductID, d.LineTotal FROM Sales.SalesOrderHeader H JOIN SALES.SalesOrderDetail D ON H.SalesOrderID=D.SalesOrderID JOIN Production.vProductAndDescription P ON P.ProductID=P.ProductID', engine)
SalesInvoices = pd.read_sql('SELECT * FROM Sales.SalesOrderHeader', engine)
print( f"Filas, Col: {SalesInvoices.shape}")
SalesInvoices.head(3)

Filas, Col: (31465, 26)

,SalesOrderID,RevisionNumber,OrderDate,DueDate,ShipDate,Status,OnlineOrderFlag,SalesOrderNumber,PurchaseOrderNumber,AccountNumber,...,CreditCardID,CreditCardApprovalCode,CurrencyRateID,SubTotal,TaxAmt,Freight,TotalDue,Comment,rowguid,ModifiedDate
0,43659,8,2011-05-31,2011-06-12,2011-06-07,5,False,SO43659,PO522145787,10-4020-000676,...,16281.0,105041Vi84182,NaN,20565.6206,1971.5149,616.0984,23153.2339,None,79B65321-39CA-4115-9CBA-8FE0903E12E6,2011-06-07
1,43660,8,2011-05-31,2011-06-12,2011-06-07,5,False,SO43660,PO18850127500,10-4020-000117,...,5618.0,115213Vi29411,NaN,1294.2529,124.2483,38.8276,1457.3288,None,738DC42D-D03B-48A1-9822-F95A67EA7389,2011-06-07
2,43661,8,2011-05-31,2011-06-12,2011-06-07,5,False,SO43661,PO18473189620,10-4020-000442,...,1346.0,85274Vi6854,4.0,32726.4786,3153.7696,985.5530,36865.8012,None,D91B9131-18A4-4A11-BC3A-90B6F53E9D74,2011-06-07

In [7]:
SalesInvoices.to_excel(r'Invoices.xlsx', index=False)